AWSTemplateFormatVersion: 2010-09-09
Metadata:
  'AWS::CloudFormation::Designer':
    2f618658-f09d-4945-a3b7-fbcebcbca1d6:
      size:
        width: 60
        height: 60
      position:
        x: 110
        'y': 50
      z: 0
      dependson:
        - f1058f46-2eff-4d5f-9622-92c8cd38dbc4
    ab17a477-5bd0-44ca-9d4f-07a80ed84d59:
      size:
        width: 60
        height: 60
      position:
        x: 110
        'y': 130
      z: 0
      dependson:
        - 5edf5791-82a1-477a-97aa-05af29fc3437
    f1058f46-2eff-4d5f-9622-92c8cd38dbc4:
      size:
        width: 60
        height: 60
      position:
        x: 270
        'y': -10
      z: 0
      dependson:
        - 462629c0-d65e-460a-93b2-b3cb83551bd6
    462629c0-d65e-460a-93b2-b3cb83551bd6:
      size:
        width: 60
        height: 60
      position:
        x: 400
        'y': 70
      z: 0
      dependson:
        - 8b371fc7-3dfc-4173-a203-b8be6826ec34
    5edf5791-82a1-477a-97aa-05af29fc3437:
      size:
        width: 60
        height: 60
      position:
        x: 220
        'y': 160
      z: 0
      dependson:
        - 3be81fe7-8e21-4fae-a843-c475bf80667d
    3be81fe7-8e21-4fae-a843-c475bf80667d:
      size:
        width: 60
        height: 60
      position:
        x: 320
        'y': 160
      z: 0
      dependson:
        - 462629c0-d65e-460a-93b2-b3cb83551bd6
    48fcab14-23a6-4c56-ab67-25153eec9650:
      source:
        id: 2f618658-f09d-4945-a3b7-fbcebcbca1d6
      target:
        id: f1058f46-2eff-4d5f-9622-92c8cd38dbc4
      z: 1
    9dfb658c-a5ba-4c3f-bf09-ee3c805dd77d:
      source:
        id: f1058f46-2eff-4d5f-9622-92c8cd38dbc4
      target:
        id: 462629c0-d65e-460a-93b2-b3cb83551bd6
      z: 2
    2b2b5eca-b92e-4a06-9858-26d563bef21c:
      source:
        id: ab17a477-5bd0-44ca-9d4f-07a80ed84d59
      target:
        id: 5edf5791-82a1-477a-97aa-05af29fc3437
      z: 3
    040c8a7b-7bb1-49e0-9377-81a1aa42d7f4:
      source:
        id: 5edf5791-82a1-477a-97aa-05af29fc3437
      target:
        id: 3be81fe7-8e21-4fae-a843-c475bf80667d
      z: 4
    56d4e3e7-e11d-4fa3-ab98-978845b52f01:
      source:
        id: 3be81fe7-8e21-4fae-a843-c475bf80667d
      target:
        id: 462629c0-d65e-460a-93b2-b3cb83551bd6
      z: 5
    7e70fa76-827f-4a14-a6af-4c66392a20bb:
      size:
        width: 60
        height: 60
      position:
        x: -10
        'y': 90
      z: 0
      dependson:
        - 2f618658-f09d-4945-a3b7-fbcebcbca1d6
        - ab17a477-5bd0-44ca-9d4f-07a80ed84d59
    924401e0-05ce-4c8a-b804-b1bbf5df8407:
      source:
        id: 7e70fa76-827f-4a14-a6af-4c66392a20bb
      target:
        id: 2f618658-f09d-4945-a3b7-fbcebcbca1d6
      z: 6
    7a39ec37-9c64-41e8-988d-36ce9b45e0dc:
      source:
        id: 7e70fa76-827f-4a14-a6af-4c66392a20bb
      target:
        id: ab17a477-5bd0-44ca-9d4f-07a80ed84d59
      z: 7
    8b371fc7-3dfc-4173-a203-b8be6826ec34:
      size:
        width: 60
        height: 60
      position:
        x: 520
        'y': 70
      z: 0
    005f2e66-ffbb-4d56-8e3d-f84596bac0c7:
      source:
        id: 462629c0-d65e-460a-93b2-b3cb83551bd6
      target:
        id: 8b371fc7-3dfc-4173-a203-b8be6826ec34
      z: 8
Resources:
  AGM5AZ01:
    Type: 'AWS::ApiGateway::Method'
    Properties: {}
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 2f618658-f09d-4945-a3b7-fbcebcbca1d6
    DependsOn:
      - LF1KNU0
  AGMASQ7:
    Type: 'AWS::ApiGateway::Method'
    Properties: {}
    Metadata:
      'AWS::CloudFormation::Designer':
        id: ab17a477-5bd0-44ca-9d4f-07a80ed84d59
    DependsOn:
      - SQSQ3B11E
  LF1KNU0:
    Type: 'AWS::Lambda::Function'
    Properties: {}
    Metadata:
      'AWS::CloudFormation::Designer':
        id: f1058f46-2eff-4d5f-9622-92c8cd38dbc4
    DependsOn:
      - DDBGT1C6UM
  DDBGT1C6UM:
    Type: 'AWS::DynamoDB::GlobalTable'
    Properties: {}
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 462629c0-d65e-460a-93b2-b3cb83551bd6
    DependsOn:
      - IAMR4WUYH
  SQSQ3B11E:
    Type: 'AWS::SQS::Queue'
    Properties: {}
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 5edf5791-82a1-477a-97aa-05af29fc3437
    DependsOn:
      - LF2IZ8H
  LF2IZ8H:
    Type: 'AWS::Lambda::Function'
    Properties: {}
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 3be81fe7-8e21-4fae-a843-c475bf80667d
    DependsOn:
      - DDBGT1C6UM
  AGDB1ZT:
    Type: 'AWS::ApiGateway::Deployment'
    Properties: {}
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 7e70fa76-827f-4a14-a6af-4c66392a20bb
    DependsOn:
      - AGM5AZ01
      - AGMASQ7
  IAMR4WUYH:
    Type: 'AWS::IAM::Role'
    Properties: {}
    Metadata:
      'AWS::CloudFormation::Designer':
        id: 8b371fc7-3dfc-4173-a203-b8be6826ec34
